* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.cv {
  max-width: 800px;
  margin: 0 auto;
}

.cabecera {
  background-color: #768c45;
  color: #f2f1f0;
  padding: 35px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecera h1 {
  margin: 0;
  font-size: 36px;
}

.cabecera h2 {
  margin: 8px 0;
  font-size: 21px;
  font-weight: normal;
  color: #f2a29b;
}

.cabecera p {
  margin-bottom: 0;
  font-size: 16px;
}

.conteiner {
  display: flex;
  align-items: stretch;
}

.lateral {
  flex: 0 0 28%;
  background-color: #f2a29b;
  padding: 30px;
  box-sizing: border-box;
}

.lateral h2 {
  color: #bf0f0f;
  border-bottom: 2px solid #bf0f0f;
  padding-bottom: 6px;
}

.lateral p {
  line-height: 1.5;
}

.principal {
  flex: 1;
  padding: 35px;
  background-color: #f2f1f0;
  box-sizing: border-box;
}

.principal h2 {
  color: #768c45;
  border-bottom: 2px solid #f2a29b;
  padding-bottom: 6px;
  text-transform: uppercase;
}

.foto-perfil {
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 4px solid #f2f1f0;
}

.principal p {
  margin: 10px auto;
  padding-left: 15px;
  border-left: 4px solid #f23d3d;
}

.pie {
  text-align: center;
  background-color: #768c45;
  color: #f2f1f0;
  padding: 18px;
}

.pie p {
  margin: 0;
}
