<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CV - Jazmin Gutierrez Castro</title>
</head>

<header class="cabecera">
  <h1>{{ nombre }}</h1>
  <h2>{{ profesion }}</h2>
</header>

<div class="conteiner">
  <aside class="lateral">
    <h2> Contacto</h2>
    <p>{{ ciudad }}</p>
    <p>{{ numero }}</p>
    <p>{{ email }}</p>
    <p>{{ github }}</p>

    <p><strong>Idiomas:</strong></p>
    <p>{{ idiomas }}</p>
  </aside>

  <main class="principal">
    <h2>Sobre mí</h2>
    <p>{{ sobreMi }}</p>

    <h2>Experiencia</h2>
    <p>{{ experiencia }}</p>

    <h2>Formación</h2>
    <p>{{ formacion }}</p>

    <h2>Tecnologías</h2>
    <p>{{ tecnologias }}</p>

  </main>
</div>

<footer class="pie">
  <p>
    {{ textoPie }} - {{ fechaActual | date: 'dd/MM/yyyy' }}
  </p>
</footer>

</html>
